<label for="nom">Nom:</label>
<input type="text" name="nom" value="{{entry[1] }}" required><br>
<label for="grade">Grade:</label>
<input type="text" name="grade"  value="{{entry[2] }}" required><br>
<label for="machine">Machine:</label>
<input type="text" name="machine" value="{{entry[3] }}" equired><br>
<label for="reseau">Réseau:</label>
<input type="text" name="reseau" value="{{entry[4] }}" required><br>
<label for="adresse_mac">Adresse MAC:</label>
<input type="text" name="adresse_mac" value="{{entry[5] }}" required><br>
<label for="num_bureau">Numéro Bureau:</label>
<input type="text" name="num_bureau" value="{{entry[6] }}" required><br>
<label for="etage">Étage:</label>
<input type="text" name="etage" value="{{entry[7] }}" required><br>